<div fxLayout="column">
  <div
    fxLayoutAlign="center center"
    style="font-size: 30px; color: white; margin-bottom: 12px"
  >
    Öneriler
  </div>
  <ngb-carousel style="width: 500px">
    <ng-template ngbSlide>
      <div align="center" class="picsum-img-wrapper">
        <img
          src="./assets/categories-images/hayvan.jpg"
          alt="Resim Yok"
          style="height: 300px"
        />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div align="center" class="picsum-img-wrapper">
        <img
          src="./assets/products-images/telefon-1.jpg"
          alt="Resim Yok"
          style="height: 300px"
        />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div align="center" class="picsum-img-wrapper">
        <img
          src="./assets/products-images/laptop-1.jpg"
          alt="Resim Yok"
          style="height: 300px"
        />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
